@use '../../mixin' as mixin;

.parent {
    @include mixin.flex(start, space-between);
    padding: 90px 190px;
    max-width: 2254px;
    margin-inline: auto;
    position: relative;

    >svg,
    >img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    >div {
        @include mixin.flex(center, start, column, nowrap, 66px);

        >a,
        >span {
            margin-top: 19px;
        }

        >span {
            @include mixin.flex(start, start, row, nowrap, 35px);
        }

        a {
            text-transform: uppercase;
            @include mixin.font(var(--white), var(--font-inclusive-sans), 30px);
        }

        >h1 {
            @include mixin.font(var(--white), 'Roboto', 50px);
            text-transform: uppercase;


        }

        &:nth-of-type(3)>h1 {
            text-decoration-line: underline;
        }

        &:nth-of-type(1) {
            align-items: start;
        }
    }

}

@media (max-width: 768px) {
    .parent {
        @include mixin.flex(start, space-between, row, wrap);
        padding: 31px 55px;
        width: 100%;
        max-width: none;

        >svg,
        >img {
            width: 80vw;
        }

        >div {

            width: 50%;
            @include mixin.flex(start, space-between, column, nowrap, 15px);

            >a,
            >span {
                margin-top: 0;
            }

            >span {
                @include mixin.flex(start, start, row, nowrap, 24px);
            }

            a {
                @include mixin.font(var(--white), var(--font-inclusive-sans), 10px);
            }

            >h1 {
                @include mixin.font(var(--white), 'Roboto', 25px);
            }

            &:nth-of-type(2) {
                align-items: end;
            }

            >img {
                width: 52px;
                height: 52px;
            }
        }
    }
}