@use '../../mixin' as mixin;

.parent {
    width: 100%;
    background: conic-gradient(from 172.18deg at -8% 47%, rgba(0, 0, 0, 1) 0deg, rgba(45, 104, 177, 1) 43.199999999999996deg, rgba(0, 0, 0, 1) 306deg, rgba(0, 0, 0, 1) 360deg, rgba(45, 104, 177, 1) 403.20000000000005deg);
    @include mixin.flex(center, auto, column, nowrap, 0);

    >.top {
        margin: auto auto;
        padding-top: 30px;
        margin-bottom: 100px;
        @include mixin.flex(center, center, column, nowrap, 20px);

        >h1 {
            @include mixin.font(var(--white), var(--font-jockey-one), 300px);
            text-transform: uppercase;
        }

        >span {
            @include mixin.flex(center, center, row, nowrap, 25px);

            >p {
                @include mixin.font(var(--white), var(--font-inclusive-sans), 50px);
            }
        }
    }

    .wrapper {
        position: relative;

        .vectors {
            position: relative;
            width: max-content;

            >img:nth-of-type(2) {
                opacity: .7;
                position: absolute;
                top: 40px;
                left: -20px;
            }
        }

        .sidepart {
            max-width: 749px;
            position: absolute;
            top: 93px;
            left: 190px;

            >div {
                width: fit-content;
                border-radius: 30px;
                background: rgba(255, 255, 255, 0.1);
                @include mixin.font(var(--white), var(--font-inclusive-sans), 50px);

                &:nth-of-type(1) {
                    padding: 51.5px 86px;
                    margin-bottom: 95px;
                }

                &:nth-of-type(2) {
                    padding: 30.5px 80.5px;
                    margin-bottom: 145px;
                }
            }

            >button {
                padding: 13px 236.5px;
                border-radius: 100px;
                background: rgba(255, 255, 255, 1);
                color: rgba(0, 0, 0, 1);
                @include mixin.font(var(--black), Impact, 60px);
                text-transform: uppercase;
            }
        }

        >span{
            position: absolute;
            right: -29px;
            top: -100px;
        }
    }
}