@use '../../mixin' as mixin;

.parent {
    position: relative;
    width: fit-content;
    margin-top: 26px;
    margin: auto;

    .background {
        z-index: -1;
        transform: translateX(-232px);

        >* {
            position: absolute;
        }
    }

    .container {
        @include mixin.flex(auto, auto, row, nowrap, 54px);
        padding: 136px 0 0 196px;

        >div {
            border-radius: 30px;
            background: rgba(0, 0, 0, 0.03);
            padding: 81px 117px;
            z-index: 1;
            width: min-content;

            backdrop-filter: blur(7px);
           
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow:
                0 8px 32px rgba(0, 0, 0, 0.1),
                inset 0 1px 0 rgba(255, 255, 255, 0.5),
                inset 0 -1px 0 rgba(255, 255, 255, 0.1),
                inset 0 0 0px 0px rgba(255, 255, 255, 0);
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                transform: translateY(75px)
            }

            &:nth-of-type(2) {
                transform: translateY(354px)
            }

            >h2 {
                @include mixin.font(var(--white), var(--font-jockey-one), 50px);
                margin-bottom: 147px;
                text-wrap: nowrap
            }

            >p {
                @include mixin.font(var(--white), var(--font-inclusive-sans), 30px);

                &:nth-of-type(1) {
                    margin-bottom: 50px;
                    text-transform: uppercase;
                }
            }
        }

        >div::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: linear-gradient(180deg,
                    rgba(255, 255, 255, 0.8),
                    transparent,
                    rgba(255, 255, 255, 0.3));
        }

        >div::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: linear-gradient(90deg,
                    transparent,
                    rgba(255, 255, 255, 0.8),
                    transparent);
        }
    }

    .rodmap {
        position: relative;
        transform: translateY(100px);

        >div {
            background: rgba(255, 255, 255, 1);
            width: 55px;
            height: 55px;
            border-radius: 100%;
            position: absolute;


            &:nth-of-type(1) {
                top: 50px;
                left: 570px;
            }

            &:nth-of-type(2) {
                top: 330px;
                left: 1430px;
            }
        }
    }

}