@use '../../mixin' as mixin;

.parent {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 1300px;
    margin-top: 26px;
    max-width: 2645px;
    margin: auto;
    @include mixin.flex(auto, auto, column, nowrap, 0);

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        margin: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 10px;
        border: 3px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:active {
        background: #888888;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    scrollbar-width: thin;
    scrollbar-color: #3c3c3c transparent;
    scrollbar-gutter: stable;




    .container {
        position: relative;

        .background {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 2777px;

            >* {
                width: 100%;
                max-width: 2777px;
                position: absolute;
            }
        }


        @include mixin.flex(start, start, row, nowrap, 54px);
        padding: 136px 300px 0 196px;
        width: fit-content;

        >.card {
            width: 700px;

            >div {
                border-radius: 30px;
                background: rgba(0, 0, 0, 0.03);
                z-index: 1;
                backdrop-filter: blur(7px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                box-shadow:
                    0 8px 32px rgba(0, 0, 0, 0.1),
                    inset 0 1px 0 rgba(255, 255, 255, 0.5),
                    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
                    inset 0 0 0px 0px rgba(255, 255, 255, 0);
                position: relative;
                overflow: hidden;
                mask-composite: exclude;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    border-radius: 100px;
                    height: calc(100% + 5px);
                    width: calc(100% + 5px);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    background: linear-gradient(45deg,
                            rgba(255, 255, 255, 0.05) 5%,
                            #fff 50%,
                            rgba(255, 255, 255, 0.05) 100%);
                    mask: radial-gradient(transparent 60%,
                            black 61%);
                    mask-composite: exclude;
                }

                >div {
                    padding: 81px 108px;
                    background: none;
                    border: none;
                    outline: none;
                    z-index: 1;
                    height: calc(100% + 5px);

                    &::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        z-index: -1;
                        backdrop-filter: blur(10px);
                        box-shadow:
                            inset 0 2px 4px rgba(255, 255, 255, 0.40),
                            inset 0 -2px 4px rgba(0, 0, 0, 0.25);
                    }

                    >h2 {
                        @include mixin.font(var(--white), var(--font-jockey-one), 35px);
                        margin-bottom: 147px;
                        text-wrap: nowrap;
                        text-transform: uppercase;
                    }

                    >p {
                        @include mixin.font(var(--white), var(--font-inclusive-sans), 25px);

                        &:nth-of-type(1) {
                            margin-bottom: 50px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            >div::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background: linear-gradient(180deg,
                        rgba(255, 255, 255, 0.8),
                        transparent,
                        rgba(255, 255, 255, 0.3));
            }

            >div::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: linear-gradient(90deg,
                        transparent,
                        rgba(255, 255, 255, 0.8),
                        transparent);
            }

            &:nth-of-type(2) {
                transform: translateY(75px)
            }

            &:nth-of-type(3) {
                transform: translateY(354px)
            }
        }

        .rodmap {
            position: absolute;
            width: 100%;
            max-width: 2777px;
            top: 828px;
            left: -70px;

            >svg {
                width: 100%;
            }

            >div {
                background: rgba(255, 255, 255, 1);
                width: 55px;
                height: 55px;
                border-radius: 100%;
                position: absolute;
                transform: scale(0);
                animation: show .3s ease-in-out forwards .8s;

                &:nth-of-type(1) {
                    top: 51px;
                    left: 598px;

                }

                &:nth-of-type(2) {
                    top: 381px;
                    left: 2137px;
                }

                &:nth-of-type(3) {
                    top: 382px;
                    left: 1331px;
                }
            }
        }
    }
}


@media (max-width: 1540px) {
    .parent {
        .container {
            >.card {
                width: 550px;

                >div {
                    transform: translateY(-55px);
                    z-index: 2;

                    >div {
                        padding: 48px 62px;
                    }
                }
            }

            >.rodmap {
                top: 681px;

                >div {
                    &:nth-of-type(1) {
                        top: 37px;
                        left: 516px;
                    }

                    &:nth-of-type(2) {
                        top: 315px;
                        left: 1130px;
                    }

                    &:nth-of-type(3) {
                        top: 315px;
                        left: 1729px;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .parent {
        overflow-x: auto;
        overflow-y: hidden;
        height: auto;
        width: 100%;
        margin-bottom: 120px;

        .background {
            z-index: -1;
            transform: translateX(-130px);
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;

            >* {
                position: absolute;
            }
        }

        .container {
            @include mixin.flex(start, start, row, nowrap, 218px);
            padding: 19px 0 0 90px;
            width: fit-content;
            transform: translateY(10%);

            >.card {

                width: auto;

                >div {
                    transform: translateY(-55px);
                    z-index: 2;

                    >div {
                        padding: 24px 32px;

                        >h2 {
                            @include mixin.font(var(--white), var(--font-jockey-one), 20px);
                            margin-bottom: 100px;
                        }

                        >p {
                            @include mixin.font(var(--white), var(--font-inclusive-sans), 14px, 400, 150%);

                            &:nth-of-type(1) {
                                margin-bottom: 47px;
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        transform: translateY(20px)
                    }

                    &:nth-of-type(2) {
                        transform: translate(-108px, 20px);

                    }

                    &:nth-of-type(3) {
                        transform: translate(-250px, 20px);
                    }
                }

                >svg {
                    z-index: 5;
                    width: 175%;
                    transform: translate(-20%, -69%);
                }

                &:nth-of-type(1) {
                    transform: none;
                }

                &:nth-of-type(2) {
                    transform: none;
                }

                &:nth-of-type(3) {
                    transform: none
                }
            }

            >.rodmap {
                transform: translate(-50px, -200px);
                width: 100%;
                @include mixin.flex(start, start, row, nowrap, 0);

                >div {
                    position: absolute;
                    width: 25px;
                    height: 25px;



                    &:nth-of-type(1) {
                        top: -181px;
                        left: 349px;
                    }

                    &:nth-of-type(2) {
                        top: -181px;
                        left: 858px;
                    }

                    &:nth-of-type(3) {
                        top: -181px;
                        left: 1359px;
                    }
                }
            }

        }
    }
}

@keyframes show {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}