@use '../../mixin' as mixin;

.parent {
    position: relative;
    width: min-content;
    overflow: auto;
    height: 1300px;
    margin-top: 26px;
    margin: auto;

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        margin: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 10px;
        border: 3px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a8;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:active {
        background: #888888;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    scrollbar-width: thin;
    scrollbar-color: #3c3c3c transparent;
    scrollbar-gutter: stable;

    .background {
        z-index: -1;
        transform: translateX(-232px);

        >* {
            position: absolute;
        }
    }

    .container {
        @include mixin.flex(start, start, row, nowrap, 54px);
        padding: 136px 0 0 196px;
        width: fit-content;

        >div {


            >div {
                border-radius: 30px;
                background: rgba(0, 0, 0, 0.03);
                z-index: 1;
                backdrop-filter: blur(7px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                box-shadow:
                    0 8px 32px rgba(0, 0, 0, 0.1),
                    inset 0 1px 0 rgba(255, 255, 255, 0.5),
                    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
                    inset 0 0 0px 0px rgba(255, 255, 255, 0);
                position: relative;
                overflow: hidden;
                mask-composite: exclude;
                display: flex;
                justify-content: center;
                align-items: center;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    border-radius: 100px;
                    height: calc(100% + 5px);
                    width: calc(100% + 5px);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                    background: linear-gradient(45deg,
                            rgba(255, 255, 255, 0.05) 5%,
                            #fff 50%,
                            rgba(255, 255, 255, 0.05) 100%);
                    mask: radial-gradient(transparent 60%,
                            black 61%);
                    mask-composite: exclude;
                }

                >div {
                    padding: 81px 87px;
                    background: none;
                    border: none;
                    outline: none;
                    z-index: 1;
                    height: calc(100% + 5px);

                    &::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        z-index: -1;
                        backdrop-filter: blur(10px);
                        box-shadow:
                            inset 0 2px 4px rgba(255, 255, 255, 0.40),
                            inset 0 -2px 4px rgba(0, 0, 0, 0.25);
                    }

                    >h2 {
                        @include mixin.font(var(--white), var(--font-jockey-one), 50px);
                        margin-bottom: 147px;
                        text-wrap: nowrap
                    }

                    >p {
                        @include mixin.font(var(--white), var(--font-inclusive-sans), 30px);

                        &:nth-of-type(1) {
                            margin-bottom: 50px;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            >div::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 100%;
                background: linear-gradient(180deg,
                        rgba(255, 255, 255, 0.8),
                        transparent,
                        rgba(255, 255, 255, 0.3));
            }

            >div::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: linear-gradient(90deg,
                        transparent,
                        rgba(255, 255, 255, 0.8),
                        transparent);
            }

            &:nth-of-type(1) {
                transform: translateY(75px)
            }

            &:nth-of-type(2) {
                transform: translateY(354px)
            }
        }
    }

    .rodmap {
        position: relative;
        transform: translateY(100px);
        width: 100%;

        >svg {
            width: 100%;
        }

        >div {
            background: rgba(255, 255, 255, 1);
            width: 55px;
            height: 55px;
            border-radius: 100%;
            position: absolute;

            &:nth-of-type(1) {
                top: 41px;
                left: 474px;
            }

            &:nth-of-type(2) {
                top: 334px;
                left: 1256px;
            }
        }
    }
}

@media (max-width: 768px) {
    .parent {
        overflow-x: auto;
        overflow-y: hidden;
        height: auto;
        width: 100%;

        .background {
            z-index: -1;
            transform: translateX(-130px);
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;

            >* {
                position: absolute;
            }
        }

        .container {
            @include mixin.flex(start, start, row, nowrap, 270px);
            padding: 19px 0 0 90px;
            width: fit-content;

            >div {


                >div {
                    transform: translateY(-55px);
                    z-index: 2;

                    >div {
                        padding: 24px 32px;

                        >h2 {
                            @include mixin.font(var(--white), var(--font-jockey-one), 20px);
                            margin-bottom: 100px;
                        }

                        >p {
                            @include mixin.font(var(--white), var(--font-inclusive-sans), 14px);

                            &:nth-of-type(1) {
                                margin-bottom: 47px;
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        transform: translateY(20px)
                    }

                    &:nth-of-type(2) {
                        transform: translate(-108px, 20px);

                    }

                    &:nth-of-type(3) {
                        transform: translate(-250px, 20px);
                    }
                }

                >svg {
                    z-index: 5;
                    width: 200%;
                    transform: translate(-24%, -69%);
                }

                                    &:nth-of-type(1) {
                        transform: none;
                    }

                    &:nth-of-type(2) {
                        transform: none;
                    }
            }
        }

        .rodmap {
            position: relative;
            transform: translate(-50px, -200px);
            width: 100%;
            @include mixin.flex(start, start, row, nowrap, 0);

            >div {
                width: 25px;
                height: 25px;

                &:nth-of-type(1) {
                    top: 6px;
                    left: 260px;
                }

                &:nth-of-type(2) {
                    top: 6px;
                    left: 800px;
                }

                &:nth-of-type(3) {
                    top: 6px;
                    left: 1341px;
                }
            }
        }
    }
}