:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  ;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  color: var(--foreground);
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

button{
  transition: .05s ease-in-out;
}

button:active{
  scale: .98;
}

button:hover {
  opacity: .9;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}