@use '../../mixin' as mixin;


.parent {
    @include mixin.flex(center, center, column, nowrap, 141px);
    padding-inline: 190px;
    width: 100%;
    margin-top: 278px;

    >h1 {
        text-transform: uppercase;
        @include mixin.font(var(--white), var(--roboto), 100px, 900);
    }

    .stair {
        @include mixin.flex(start, center, column, nowrap, 57px);
        position: relative;
        transform: translateX(90px);
        width: 1700px;

        >.card {
            @include mixin.flex(start, start, column, nowrap, 50px);
            box-shadow: inset 0px 4px 28px 0px rgba(0, 0, 0, 0.25);
            background: linear-gradient(126.11deg, rgba(255, 180, 247, 1), rgba(255, 208, 222.50001525878906, 1) 13%, rgba(255, 236, 198, 1) 24%, rgba(255, 149, 236, 1) 38%, rgba(233, 140.50001525878906, 245.5, 1) 51%, rgba(142, 173, 255, 1) 67%, rgba(207.25, 156.87501525878906, 252.625, 1) 84%, rgba(255, 126, 246, 1) 93%);
            border-radius: 30px;
            padding: 63px 90px;
            position: relative;

            &:nth-of-type(2) {
                margin-left: 345px;
            }

            &:nth-of-type(3) {
                margin-left: 655px;
            }

            >p {
                text-transform: uppercase;
                @include mixin.font(var(--black), var(--font-jockey-one), 50px);
            }

            >span {
                @include mixin.font(var(--black), var(--font-inclusive-sans), 35px);
            }

            &::before {
                content: '';
                position: absolute;
                border-radius: 100%;
                width: 43px;
                height: 43px;
                top: 50%;
                transform: translateY(-50%);
                left: -130px;
                background-color: var(--white);
            }
        }

        >svg,
        >img {
            position: absolute;
            z-index: -1;

            &:first-of-type {

                top: 130px;
                left: -273px;
            }

            &:nth-of-type(2) {
                top: 184px;
                left: -248px;
            }
        }

        >.background {
            position: absolute;
            z-index: -2;
            left: -300px;
            top: 0;
            @include mixin.flex(center, center, row, nowrap, 47.7px);

            >.sound {
                @include mixin.flex(center, auto, row, nowrap, 47.7px);

                >span {
                    width: 27px;
                    border-radius: 100px;
                    background: rgb(26, 26, 26)
                }

                &:first-of-type {
                    transform: translateY(489px);
                }

                &:nth-of-type(2) {
                    transform: translateY(316px);
                    margin-right: 120px;
                }

                &:nth-of-type(4) {
                    transform: translateY(-160px);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .parent {
        padding: 0;

        >h1 {
            @include mixin.font(var(--white), var(--roboto), 40px, 900);
            text-align: center;
            width: 95%;
        }

        .stair {
            @include mixin.flex(end, end, column, nowrap, 35px);
            width: auto;
            transform: none;
            padding-right: 10px;

            >.card {
                @include mixin.flex(start, end, column, nowrap, 10px);
                border-radius: 11.74px;
                padding: 28px 28px;

                margin-left: 69px;
                transform: translateY(30px);

                &:nth-of-type(3),
                &:nth-of-type(2) {
                    margin-left: 67px;
                    width: 70%;
                }



                >p {
                    @include mixin.font(var(--black), var(--font-jockey-one), 14px);
                }

                >span {
                    @include mixin.font(var(--black), var(--font-inclusive-sans), 14px);

                }

                &::before {
                    content: none;
                }

            }

            >svg,
            >img {
                position: absolute;

                &:first-of-type {

                    top: 0px;
                    left: -43px;
                }

                &:nth-of-type(2) {
                    top: 13px;
                    left: -29px;
                }
            }

            >.background {
                position: absolute;
                z-index: -2;
                left: -300px;
                top: -150px;
                @include mixin.flex(center, center, row, nowrap, 24.4px);

                >.sound {
                    @include mixin.flex(center, auto, row, nowrap, 24.4px);

                    >span {
                        width: 13px;
                        border-radius: 51.06px;
                    }

                    &:first-of-type {
                        transform: translateY(189px);
                    }

                    &:nth-of-type(2) {
                        transform: translateY(116px);
                        margin-right: 0;
                    }

                    &:nth-of-type(4) {
                        transform: translateY(-160px);
                    }
                }
            }
        }
    }
}