@use '../../mixin' as mixin;

.parent {
    margin-top: 302px;
    position: relative;
    background: conic-gradient(from -8deg at 108% 53%,
            rgba(0, 0, 0, 1) 0deg,
            rgba(45, 104, 177, 1) 43.199999999999996deg,
            rgba(0, 0, 0, 1) 306deg,
            rgba(0, 0, 0, 1) 360deg,
            rgba(45, 104, 177, 1) 403.20000000000005deg);


    >h1 {
        margin: auto;
        max-width: 60%;
        background: linear-gradient(126.11deg, rgba(255, 180, 247, 1), rgba(255, 208, 222.50001525878906, 1) 13%, rgba(255, 236, 198, 1) 24%, rgba(255, 149, 236, 1) 38%, rgba(233, 140.50001525878906, 245.5, 1) 51%, rgba(142, 173, 255, 1) 67%, rgba(207.25, 156.87501525878906, 252.625, 1) 84%, rgba(255, 126, 246, 1) 93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-family: Roboto;
        font-size: 100px;
        font-weight: 700;
        line-height: 100%;
        text-align: center;
    }

    >.content {
        @include mixin.flex(center, center, row, nowrap, 10px);
        overflow: hidden;
        position: relative;

        >.sidepart {
            padding-right: 189px;
            @include mixin.flex(end, center, column, nowrap, 176px);
            width: min-content;

            >h2 {
                @include mixin.font(var(--white), var(--font-inclusive-sans), 50px);
                text-align: right;
                max-width: 90%;
            }

            >button {
                border-radius: 100px;
                text-transform: uppercase;

                &:nth-of-type(1) {
                    background: linear-gradient(126.11deg, rgba(255, 180, 247, 1), rgba(255, 208, 222.50001525878906, 1) 13%, rgba(255, 236, 198, 1) 24%, rgba(255, 149, 236, 1) 38%, rgba(233, 140.50001525878906, 245.5, 1) 51%, rgba(142, 173, 255, 1) 67%, rgba(207.25, 156.87501525878906, 252.625, 1) 84%, rgba(255, 126, 246, 1) 93%);
                    padding: 28px 53px;
                    @include mixin.font(var(--black), 'Roboto', 50px, 900);
                    text-wrap: nowrap;
                }

                &:nth-of-type(2) {
                    padding: 29px 66.5px;
                    @include mixin.font(var(--black), 'Roboto', 30px);
                    background: rgba(255, 255, 255, 0.5);
                }
            }
        }

        >img {
            opacity: .7;
            transform: translate(128px, 177px);
        }
    }
}

@media (max-width: 1540px) {
    .parent {
        margin-top: 480px;

        >h1 {
            position: absolute;
            width: 100%;
            max-width: none;
        }

        >.content {
            align-items: end;

            >.sidepart {
                gap: 123px;
                padding-right: 392px;
                padding-bottom: 100px;

                >h2 {
                    font-size: 34px;
                }

                >button {

                    &:nth-of-type(1) {
                        font-size: 35px;
                    }

                    &:nth-of-type(2) {
                        font-size: 25px;
                    }
                }

            }

            >img {
                transform: translate(148px, 207px) scale(.7);
            }
        }
    }
}

@media (max-width: 768px) {
    .parent {
        @include mixin.flex(center, center, column, nowrap, 0);
        margin-top: 302px;

        >h1 {
            position: relative;
            font-size: 30px;
            max-width: none;
        }

        >.content {
            @include mixin.flex(center, center, column, nowrap, 0);
            width: 90%;

            >.sidepart {
                padding-right: 0;
                @include mixin.flex(center, center, row, wrap, 20px);
                width: 100%;
                margin-bottom: 82px;
padding-bottom: 0;
                >h2 {
                    @include mixin.font(var(--white), var(--font-inclusive-sans), 15px);
                    text-align: left;
                    max-width: 44%;
                    order: 0;
                }

                >button {
                    border-radius: 56.29px;

                    &:nth-of-type(1) {
                        padding: 15px 29px;
                        @include mixin.font(var(--black), 'Roboto', 18px, 900);
                        order: -1;
                        width: inherit;
                    }

                    &:nth-of-type(2) {
                        padding: 18.5px 20px;
                        @include mixin.font(var(--black), 'Roboto', 8px);
                        order: 1;
                    }
                }
            }

            >img {
                opacity: .7;
                transform: none;
                transform: translateY(50px);
                z-index: 0;
            }

            >span {
                width: 340px;
                z-index: 1;

                border-top: 2px solid var(--white);
                height: 100px;
                background: linear-gradient(to bottom, #000000, transparent);
            }
        }
    }
}